---
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 90
IndentWidth: 4
InsertNewlineAtEOF: true
PointerAlignment: Left
SortIncludes: Never
SpaceInEmptyBlock: true
UseTab: ForIndentation
