---
BasedOnStyle: Microsoft
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 90
IndentWidth: 4
PointerAlignment: Left
SpaceInEmptyBlock: true
UseTab: ForIndentation
