---
BasedOnStyle: Microsoft
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 90
IndentWidth: 4
PointerAlignment: Left
SpaceInEmptyBlock: true
UseTab: ForIndentation
