root=true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

[*.{h,c,hpp,cpp}]
indent_style = tab
indent_size = tab
curly_bracket_next_line = true
spaces_around_operators = true
indent_brace_style = Allman

[*.py]
indent_style = space
indent_size = 4
quote_type = double
