[submodule "libraries/fltk"]
	path = libraries/fltk
	url = https://github.com/fltk/fltk
[submodule "libraries/protobuf"]
	path = libraries/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	branch = 3.5.x
[submodule "libraries/portmidi"]
	path = libraries/portmidi
	url = https://github.com/PortMidi/portmidi.git
