.DS_Store
/build*
*.vscode

# Used by Visual Studio when loading this project as a folder, which uses CMake.
/.vs
/out
CMakeSettings.json

# Used when generating the installer.
/installer/windows/Build*/
/installer/windows/Out*/
/installer/linux/build*
/installer/linux/.flatpak-builder*

!/installer/linux/build_release.sh
