<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>org.ag-odalaunch.app</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AG-OdaLaunch</string>
	<key>CFBundleIconFile</key>
	<string>odalaunch.icns</string>
	<key>CFBundleName</key>
	<string>AG-Odalaunch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.5.2</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.2</string>
	<key>CFBundleGetInfoString</key>
	<string>ODAMEX and its likeness © 2011 Odamex team.</string>
	<key>CFBundleLongVersionString</key>
	<string>0.5.2</string>
	<key>NSHumanReadableCopyright</key>
	<string>ODAMEX and its likeness © 2011 Odamex team.</string>
	<key>LSRequiresCarbon</key>
	<true/>
</dict>
</plist>
