[Desktop Entry]
# this is the desktop entry spec version NOT the odamex version
Version=1.5
Type=Application

Name=Odasrv
Comment=Server to run Odamex and play DOOM wads online!
Categories=Amusement;Game;ActionGame;AdventureGame;ArcadeGame;

Icon=net.odamex.Odamex.Server
Exec=odasrv
Terminal=true
StartupWMClass=odasrv
