name: Linux

on: [push, pull_request]

jobs:
  pre_job:
    name: Build Preparation
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.check_skip.outputs.should_skip }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Check for build skip
        id: check_skip
        run: bash ci/check-skip.sh
  build-sdl20:
    name: Build (SDL 2.0)
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: Prepare build
      run: bash ci/ubuntu-buildgen.sh
    - name: Turn on problem matcher
      uses: ammaraskar/gcc-problem-matcher@master
    - name: Run build
      run: cmake --build ./build/
    - name: Prepare artifact
      run: bash ci/ubuntu-artifact.sh
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: Odamex-Linux-x86_64
        path: 'build/artifact/*'
  build-sdl12:
    name: Build (SDL 1.2)
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    env:
      USE_SDL12: 1
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: Prepare build
      run: bash ci/ubuntu-buildgen.sh
    - name: Run build
      run: cmake --build ./build/
  build-clang:
    name: Build (Clang)
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    env:
      CC: /usr/bin/clang
      CXX: /usr/bin/clang++
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: Prepare build
      run: bash ci/ubuntu-buildgen.sh
    - name: Run build
      run: cmake --build ./build/
  build-centos:
    name: Build (CentOS 7)
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: Run build
      run: bash ci/centos-buildgen.sh
  build-ubuntu-bionic:
    name: Build (Ubuntu 18.04 LTS)
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: Run build
      run: bash ci/ubuntu-bionic-buildgen.sh
